body {
   background-color: white;
   
    font-family: 'Montserrat', sans-serif;
      display: flex;
      flex-direction: column;
      min-height: 100vh;

  }


@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';